body{width: 100%;-webkit-transform: scale(1)}
header,nav{width: 100%;height: 95px;background: #09140a;position: relative;}
nav{height: 48px;}
nav{background: #142310;}
header .logo{background: url(../img/mobile/logo.jpg);width:111px;height: 95px;}
header .menuBtn{background: url(../img/mobile/menu.jpg);width: 100px;height: 95px;position: absolute;top:0;right: 0;}
nav .logo{width: 56px;height:48px;background: #1b2f15;text-align: center;color:#2d5013;line-height:48px;}
nav .bread{position: absolute;left:56px;top:0px;line-height:48px;color:#2c4d13;text-indent: 12px;}
nav .bread span{color:#5b8d2a;}

footer{width: 100%;background: #172913;height: 52px;}
footer li{width: 25%;float:left;height: 52px;}
footer li:hover,footer li:active{background: #142311;}
footer li .iconBg{position: relative;}
footer li .icon{background: url(../img/mobile/footericon.png);width: 50px;height: 24px;position: absolute;margin-top: 12px;left:50%;}
footer li .wb{margin-left: -18px;}
footer li .wx{background-position: -75px 0px;margin-left: -18px;}
footer li .search{background-position: -150px 0px;margin-left: -28px;}
footer li .msg{background-position: -219px 0px;margin-left: -35px;}

section{width: 100%;background: #010200 ;}
section img{width: 100%;}
section div{position: relative;}

@media screen and (max-width:480px){
	header{height: 48px;}
	header .logo{background-size: 56px;width: 56px;height: 48px;}
	header .menuBtn{background-size: 50px;width: 50px;height: 48px;}
	section p{color:#fff;position: absolute;width: 200px;margin: 0 auto;font-size: 9px;top:50%;left:55%;margin-left: -100px;}
}

@media screen and (min-width:480px){
	section p{color:#fff;position: absolute;width: 400px;margin: 0 auto;font-size: 18px;top:50%;left:55%;margin-left: -200px;}
}